.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    padding: 0.7rem 1rem;
    border-bottom: 1.8px solid var(--border-gray);
    background-color: var(--main-color);
}

.bottom-main-container {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
}


/* perticuler column start */
.column {
    padding: 0.4rem 0.8rem;
    height: 100%;
    background-color: var(--first-gray);
}

.add-item-icon {
    padding: 0.4rem;
    cursor: pointer;
}

.add-item-icon:hover {
    color: var(--selected-dark-yellow);
}

/* * first start */
.first-column {
    border-right: 0.8px solid var(--border-gray);
    display: flex;
    flex-direction: column;
    flex: 0.72;
}

.first-column ul {
    list-style: none;
    font-weight: 500;
    flex: 1;
    overflow-y: auto;
}

.first-col-item-container {
    margin: 2px 0;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.first-col-item-container:hover {
    background-color: var(--selected-color);
}

.prelist-folder-icon {
    top: 1.5px;
    right: 4px;
    position: relative;
    color: var(--first-dark-gray);
}

.focus-on:hover {
    color: var(--hover-red);
}

.bottom-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

.edit-text-button {
    left: 2px;
    bottom: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.edit-text-button:hover {
    color: var(--selected-dark-yellow);
}

.edit-text-button-disable {
    color: var(--selected-color);
    cursor: default;
}

.add-folder-inputbox {
    width: 100%;
}

/* ! first end */

/* * second start */
.second-column {
    border-right: 0.8px solid var(--border-gray);
    display: flex;
    flex-direction: column;
    flex: 0.8;
}

.top-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}

.second-column ul {
    list-style: none;
    overflow-y: auto;
    flex: 1;
}

.second-col-item-container {
    margin: 2px 0;
    padding: 0.3rem 0.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.second-col-item-container:hover {
    background-color: var(--selected-color);
}

/* searchc omponent */

.search-container {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    padding: 2px;
    flex: 1;
    background-color: var(--border-gray);
    padding: 4px;
}

.search-inputbox {
    outline: none;
    border: none;
    background-color: inherit;
    margin-left: 4px;
}

.add-note-icon {
    position: relative;
    top: 2px;
    left: 2px;
}

/* end searchc omponent */

/* ! second end */

/* * third main start */

.main-column {
    background-color: white;
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main-col-header {
    margin-bottom: 20px;
}

.main-col-header-delete-icon {
    cursor: pointer;
}

.main-col-header-delete-icon:hover {
    color: var(--selected-dark-yellow);
}

.main-col-textarea {
    resize: none;
    flex: 1;
    border: none;
    outline: none;
    font-size: large;
}

/* main logo style */
.main-col-bg-logo-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-col-bg-logo-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-col-bg-logo-container > div > p {
    color: var(--first-dark-gray);
}

.main-col-bg-logo {
    height: 40%;
    width: 40%;
    object-fit: contain;
}

/* ! third main end */

.selected-col {
    background-color: var(--selected-yellow);
}

.selected-col:hover {
    background-color: var(--selected-yellow);
    cursor: initial;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
}