.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    padding: 0.7rem 1rem;
    border-bottom: 1.8px solid var(--border-gray);
    background-color: var(--main-color);
}

.bottom-main-container {
    display: flex;
    flex: 1;
    position: relative;
}


/* perticuler column start */
.column {
    padding: 1rem;
    overflow: auto;
}

/* * first start */
.first-column {
    background-color: var(--first-gray);
    border-right: 0.8px solid var(--border-gray);
    flex: 0.65;
}

.first-column ul {
    list-style: none;
    font-weight: 500;
}

.first-col-item-container {
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
}

.first-col-item-container:hover {
    background-color: var(--selected-color);
}

.selected-col {
    background-color: var(--selected-yellow);
    cursor: none;
}

.selected-col:hover {
    background-color: var(--selected-yellow);
}

/* ! first end */

/* * second start */
.second-column {
    background-color: var(--first-gray);
    border-right: 0.8px solid var(--border-gray);
    flex: 0.8;
}

/* ! second end */

.main-column {
    background-color: var(--first-gray);
    flex: 4;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
}